#headerimage{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width:101%;
}

body{
    background-color:pink;

}

.col-3{
    padding: 15px;
    border-radius: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    background-color: white;
}

#articles{
    margin-left: 10px;
    margin-right: 10px;
    padding: 70px;
}

.row align-items-center{
    margin: 0;
}

i{
    font-size: 30px;
}

nav{
    opacity: 0.7;
    background-color:black;
}

a{
    color: #585858;
}
    
a:hover{
    color: black;
    background: pink;
}
    
footer{
    background-color: black;
}
    
.container{
    padding-bottom: 0px;
}