#headerimage{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 101%;
}

body{
    background-color:pink;
    margin: none;
    padding: none;
}

h2{
    font-size: 20px;
}

.col-4{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    margin: 10px auto;
}

#articles{
    margin: none;
    padding: 70px;
}

/*icônes*/

i{
    font-size: 30px;
}

nav{
    opacity: 0.7;
    background-color:black;
}

a{
    color: #585858;
}
    
a:hover{
    color: black;
    background: pink;
}
    
footer{
    background-color: black;
}

#test{
    background-color: white;
}


/*TEST*/